{% load static %}
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Include jQuery Validation Plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js"></script>

{% include 'header.html' %}

{% block content %}
<div class="spacer" style="height: 40px;"></div>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <h2 class="text-center mb-4">Reset Password</h2>
          <form method="post" id="passwordResetForm">
            {% csrf_token %}
            <div class="form-group mb-3">
              <label for="id_email">Email:</label>
              <input type="email" name="email" id="id_email" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spacer"></div> <!-- Added space after the container -->
{% endblock %}

{% include "footer.html" %}
<style>
  body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      margin: 0;
  }

  .spacer {
      flex-grow: 1;
  }

  .footer {
      background-color: #f0f0f0; /* Set your desired background color */
      padding: 20px;
      text-align: center;
  }
</style>
