{% load static %}
{% include 'header.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-body text-center">
            <h2 class="mb-4">Password Reset Email Sent</h2>
            <p class="mb-4">We've emailed you instructions for setting your password, if an account exists with the email you entered.</p>
            <p>If you don't receive an email, please make sure you've entered the email address you registered with, and check your spam folder.</p>
            <a href="{% url 'login' %}" class="btn btn-primary mt-4">Go back to Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
