{% load static %}
<!-- Include jQuery -->


{% include 'header.html' %}

{% block content %}
<div class="spacer" style="height: 40px;"></div>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <h2 class="text-center mb-4">Reset Password</h2>
          <form method="post" id="passwordResetForm">
            {% csrf_token %}
            
            <div class="form-group mb-3">
              <label for="id_email">Email:</label>
              <input type="email" name="email" id="id_email" class="form-control" placeholder="Enter your email" required>
            </div>
            
            <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spacer"></div> <!-- Added space after the container -->

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js"></script>

<script>
  $(document).ready(function () {
    $("#passwordResetForm").validate({
      rules: {
        email: {
          required: true,
          email: true,
        },
      },
      messages: {
        email: {
          required: "Please enter your email address",
          email: "Please enter a valid email address",
        },
      },
      errorElement: "div",
      errorPlacement: function (error, element) {
        error.addClass("invalid-feedback");
        element.closest(".form-group").append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass("is-invalid").removeClass("is-valid");
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).addClass("is-valid").removeClass("is-invalid");
      },
    });
  });
</script>

{% endblock %}


<style>
  body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      margin: 0;
  }

  .spacer {
      flex-grow: 1;
  }

  .footer {
      background-color: #f0f0f0; /* Set your desired background color */
      padding: 20px;
      text-align: center;
  }
</style>
