<!-- templates/store/cart.html -->

{% load static %}
{% include "header.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_to_cart_style.css' %}">
    <!-- Add your additional CSS links here -->
</head>
<body>

  <h1>Your Shopping Cart</h1>

{% block title %}Shopping Cart{% endblock %}

{% block content %}
  <h1>Your Shopping Cart</h1>

  {% if cart_items %}
    <table class="table">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart_items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>${{ item.product.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.total_price }}</td>
                <td>
                    <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-danger">Remove</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

    <!-- Checkout Button -->
    <a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a>

  {% else %}
    <p>Your cart is empty.</p>
  {% endif %}
  
  <a href="{% url 'shop' %}">Home</a>
  <a href="{% url 'cart' %}">Cart</a>
{% endblock %}


</body>
</html>

{% include "footer.html" %}