{% load static %}

{% include "header.html" %}

    <section id="billboard" class="position-relative overflow-hidden bg-light-blue">
      <div class="swiper main-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="container">
              <div class="row d-flex align-items-center">
                <div class="col-md-6">
                  <div class="banner-content">
                    <h1 class="display-2 text-uppercase text-dark pb-5">Your Products Are Great.</h1>
                    <a href="{% url 'shop' %}" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Shop Products</a>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="image-holder">
                   <img src="{% static 'images/banner-image.png' %}"  alt="banner">               
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="container">
              <div class="row d-flex flex-wrap align-items-center">
                <div class="col-md-6">
                  <div class="banner-content">
                    <h1 class="display-2 text-uppercase text-dark pb-5">Technology Hack You Won't Get</h1>
                    <a href="shop.html" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Shop Product</a>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="image-holder">
                   <img src="{% static 'images/banner-image.png' %}"  alt="banner">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-icon swiper-arrow swiper-arrow-prev">
        <svg class="chevron-left">
          <use xlink:href="#chevron-left" />
        </svg>
      </div>
      <div class="swiper-icon swiper-arrow swiper-arrow-next">
        <svg class="chevron-right">
          <use xlink:href="#chevron-right" />
        </svg>
      </div>
    </section>
    <section id="company-services" class="padding-large">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 pb-3">
            <div class="icon-box d-flex">
              <div class="icon-box-icon pe-3 pb-3">
                <svg class="cart-outline">
                  <use xlink:href="#cart-outline" />
                </svg>
              </div>
              <div class="icon-box-content">
                <h3 class="card-title text-uppercase text-dark">Free delivery</h3>
                <p>Consectetur adipi elit lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 pb-3">
            <div class="icon-box d-flex">
              <div class="icon-box-icon pe-3 pb-3">
                <svg class="quality">
                  <use xlink:href="#quality" />
                </svg>
              </div>
              <div class="icon-box-content">
                <h3 class="card-title text-uppercase text-dark">Quality guarantee</h3>
                <p>Dolor sit amet orem ipsu mcons ectetur adipi elit.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 pb-3">
            <div class="icon-box d-flex">
              <div class="icon-box-icon pe-3 pb-3">
                <svg class="price-tag">
                  <use xlink:href="#price-tag" />
                </svg>
              </div>
              <div class="icon-box-content">
                <h3 class="card-title text-uppercase text-dark">Daily offers</h3>
                <p>Amet consectetur adipi elit loreme ipsum dolor sit.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 pb-3">
            <div class="icon-box d-flex">
              <div class="icon-box-icon pe-3 pb-3">
                <svg class="shield-plus">
                  <use xlink:href="#shield-plus" />
                </svg>
              </div>
              <div class="icon-box-content">
                <h3 class="card-title text-uppercase text-dark">100% secure payment</h3>
                <p>Rem Lopsum dolor sit amet, consectetur adipi elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


   <section id="mobile-products" class="product-store position-relative padding-large no-padding-top">
      <div class="container">
         <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
               <h2 class="display-7 text-dark text-uppercase">Mobile Products</h2>
               <div class="btn-right">
                <a href="{% url 'shop' %}" class="btn btn-medium btn-normal text-uppercase">Go to Shop</a>
               </div>
            </div>
            <div class="swiper product-swiper">
               <div class="swiper-wrapper">
                  {% for smartphone in latest_smartphones %}
                  <div class="swiper-slide">
                     <div class="product-card position-relative">
                        <div class="image-holder">
                           <img src="{% static 'images/default_smartphone_image.jpg' %}" alt="{{ smartphone.name }}" class="img-fluid">
                        </div>
                        <div class="cart-concern position-absolute">
                           <div class="cart-button d-flex">
                              <!-- <a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a> -->
                           </div>
                        </div>
                        <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                           <!-- Use JavaScript to make the smartphone name clickable -->
                           <h3 class="card-title text-uppercase" onclick="addToCartAndRedirect('{{ smartphone.name }}')">
                              <a href="#">{{ smartphone.name }}</a>
                              <form action="{% url 'add_to_cart' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <button type="submit">Add to Cart</button>
                              </form>
                           </h3>
                           <span class="item-price text-primary">${{ smartphone.price }}</span>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
               </div>
            </div>
         </div>
      </div>
      <div class="swiper-pagination position-absolute text-center"></div>
   </section>
   
   <!-- Add this part to your index.html template -->
  <section id="smart-watches" class="product-store padding-large position-relative">
  <div class="container">
     <div class="row">
        <div class="display-header d-flex justify-content-between pb-3">
           <h2 class="display-7 text-dark text-uppercase">Smart Watches</h2>
           <div class="btn-right">
              <a href="{% url 'shop' %}" class="btn btn-medium btn-normal text-uppercase">Go to Shop</a>
           </div>
        </div>
        <div class="swiper product-watch-swiper">
           <div class="swiper-wrapper">
              {% for smartwatch in latest_smartwatches %}
              <div class="swiper-slide">
                 <div class="product-card position-relative">
                    <div class="image-holder">
                       <!-- Use smartwatch image field here if available -->
                       <img src="{% static 'images/default_watch_image.jpg' %}" alt="{{ smartwatch.name }}" class="img-fluid">
                    </div>
                    <div class="cart-concern position-absolute">
                       <div class="cart-button d-flex">
                      <!-- <a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a> -->
                      </div>
                    </div>
                    <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                       <h3 class="card-title text-uppercase">
                        <a href="{% url 'add_to_cart' %}">{{ smartwatch.name }}</a>

                        <form action="{% url 'add_to_cart' %}" method="post">
                          {% csrf_token %}
                          <input type="hidden" name="product_id" value="{{ product.id }}">
                          <button type="submit">Add to Cart</button>
                        </form>
                        
                       </h3>
                       <span class="item-price text-primary">${{ smartwatch.price }}</span>
                    </div>
                 </div>
              </div>
              {% endfor %}
           </div>
        </div>
     </div>
  </div>
  <div class="swiper-pagination position-absolute text-center"></div>
  </section>

    <!-- index.html -->

    <section id="latest-blog" class="padding-large">
      <div class="container">
         <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
               <h2 class="display-7 text-dark text-uppercase">Latest Posts</h2>
               <div class="btn-right">
                  <a href="{% url 'blog' %}" class="btn btn-medium btn-normal text-uppercase">Read Blog</a>
               </div>
            </div>
            <div class="post-grid d-flex flex-wrap justify-content-between">
               {% for post in latest_posts %}
                  <div class="col-lg-4 col-sm-12">
                     <div class="card border-none me-3">                       
                     </div>
                     <div class="card-body text-uppercase">
                        <div class="card-meta text-muted">
                           <span class="meta-date">{{ post.date_published|date:"M d, Y" }}</span>
                           <span class="meta-category">- {{ post.category }}</span>
                        </div>
                        <h3 class="card-title">
                           <a href="#">{{ post.title }}</a>
                        </h3>
                     </div>
                  </div>
               {% endfor %}
            </div>
         </div>
      </div>
    </section>
    

    <section id="testimonials" class="position-relative">
      <div class="container">
          <div class="row">
              <div class="review-content position-relative">
                  <div class="swiper testimonial-swiper">
                      <div class="swiper-wrapper">
                          {% for testimonial in testimonials %}
                          <div class="swiper-slide text-center d-flex justify-content-center">
                              <div class="review-item col-md-10">
                                  <i class="icon icon-review"></i>
                                  <blockquote>{{ testimonial.quote }}</blockquote>
                                  <div class="rating">
                                    {% for star in "12345" %}
                                    {% if star == testimonial.rating|stringformat:"f" %}
                                        <svg class="star star-fill">
                                            <use xlink:href="#star-fill"></use>
                                        </svg>
                                    {% elif star|add:"-0.5" == testimonial.rating|stringformat:"f" %}
                                        <svg class="star star-half">
                                            <use xlink:href="#star-half"></use>
                                        </svg>
                                    {% else %}
                                        <svg class="star star-empty">
                                            <use xlink:href="#star-empty"></use>
                                        </svg>
                                    {% endif %}
                                {% endfor %}
                                
                                  </div>
                                  <div class="author-detail">
                                      <div class="name text-dark text-uppercase pt-2">{{ testimonial.author_name }}</div>
                                  </div>
                              </div>
                          </div>
                          {% endfor %}
                      </div>
                  </div>
                  <!-- ... Other existing code ... -->
              </div>
          </div>
      </div>
      <div class="swiper-pagination"></div>
  </section>
  
    
    {% include "footer.html" %}