<!-- templates/store/thankyou.html -->

{% load static %}
{% include "header.html" %}

{% block title %}Thank You{% endblock %}

{% block content %}
  <div style="padding-top: 300px; padding-bottom: 300px;"> <!-- Adjust the padding as needed -->
    <h1>Thank You!</h1>
    <p>Your order has been confirmed.</p>
    
    <button onclick="window.location.href='{% url 'shop' %}'">Continue Shopping</button>

  </div>
{% endblock %}

{% include "footer.html" %}

    <!-- <h2>Order Details:</h2>
    {% if cart_items %}
     
      <table class="table">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart_items %}
            <tr>
              <td>{{ item.product.name }}</td>
              <td>${{ item.product.price }}</td>
              <td>{{ item.quantity }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

     
      <p class="total-price" style="font-weight: bold; color: green;">Total Price: ${{ total_price }}</p>
    {% else %}
      <p>No items in the order.</p>
    {% endif %} 
  
     class ThankYouView(TemplateView):
    template_name = 'thankyou.html'

    def get_context_data(self, **kwargs):
        context = super().get_context_data(**kwargs)

        cart_items = CartItem.objects.all()  
        total_price = sum(item.product.price * item.quantity for item in cart_items)  

        context['cart_items'] = cart_items
        context['total_price'] = total_price
    
        return context
-->

   